.container {
    margin: auto;
    padding: 4%;
}

h2 {
    text-align: center;
}

ul, li {
    display: inline;
    list-style-type: none;
}

.header {
    background-color: gray;
    padding: 1%;
}

nav {
    margin: auto;
    margin-top: 2%;
    padding: 1%;
    text-align: center;
    background-color: gray;
}