body {
    background-color: rgb(228, 232, 232);
}

.container {
    margin: auto;
    padding: 4%;
}

.wrap {
    margin: auto;
    padding: 1%;
    text-align: center;
}

.wrap p {
    font-size: 25px;
}

iframe {
    margin-top: 50px;
}

@media only screen and (max-width: 600px) {
    .container .wrap p {
        font-size: 30px;
    }
}